server:
  port: 8081

spring:
  application:
    name: ms-customers

  datasource:
    url: jdbc:postgresql://localhost:5432/customers_db
    username: postgres
    password: diogenes
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTGenerationWithMinimumLengthAndStrongRandomCharacters}   # Usa variable de entorno en producciï¿½n
  expiration: 3600000

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG